<div class="flex">
    <main>
        <div class="text-center">Please, log in!</div>
        <form (submit)="login()">
            <div class="row" style="width: 500px; margin:auto">
                <div class="col">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" [formControl]="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [formControl]="password">
                    </div>
                    <button type="submit">Login</button>
                </div>
            </div>
        </form>
    </main>
</div>